<li >
  <h4><%= comment.body %></h4> --
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>


  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply", :class =>"btn btn-info waves-effect waves-light" %>
      <% end %>


  <ul >
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul><br>

</li>
