<% flash.each do |key,value| %>

        <div class="alert alert-success col-xs-12">
          <%= value %>
        </div>
    <% end %>


<div class="container">
	<h1>Articles</h1>
	<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Read</th>
      </tr>
    </thead>
    <tbody>
	<% @article.each do |article| %>
	  <tr>
        <td><h3><%= article.title %></h2> </td>
        <td><%= link_to("Show Page", article, :class=>'btn btn-primary') %></td>
	  </tr>	    
	<% end %>
	</tbody>
  </table>
  </div>
</div>

