<style>
	label{
		font-size: large;
	}
	textarea{
		width:100%;
	}
	input{
		font-size:18px!important;
	}
</style>
<div class="container">

		<% flash.each do |key,value| %>
			<% if key == 'success'%>
				<div class="alert alert-success col-xs-12">
					<%= value %>
				</div>
			<% else %>
				<div class="alert alert-danger col-xs-12">
					<%= value %>
				</div>
			<% end %>
		<% end %>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<%= form_for :article, :url=>{:action=>'create'},:html=>{:class=>'form-horizontal'} do |f| %>
				<div class="form-group">
    				<div class="field form-group">
    				<div class="col-md-3 text-center"><%= f.label :title %></div>
    				<%= f.text_field :title %>
  					</div>
  					<div class="field form-group">
    				<div class="col-md-3 text-center"><%= f.label :body %></div>
    				<%= f.text_area :body %>
  					</div>
				  <%= submit_tag 'Post', :class => "btn btn-primary"  %>
				</div>
			<% end %>
		</div>
		<div class="col-md-4"></div>
		
	</div>
</div>

