<div class="container">
<h1>Title:&nbsp;&nbsp;<%= @article.title %></h1><br/>
<h2>Content:&nbsp;&nbsp;<%= @article.body %></h2><br>
<small>Submitted <%= time_ago_in_words(@article.created_at) %> ago</small><hr>
	<% flash.each do |key,value| %>
	<% if key == 'notice' %>
      <div class="alert alert-danger col-xs-12">
        <%= value %>
      </div><br><br>
      <% elsif key == 'success' %>
      <div class="alert alert-success col-xs-12">
        <%= value %>
      </div><br><br>
    <% end %>
    <% end %>
<h3>Comments</h3>

<%= form_for [@article, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment", :class =>"btn btn-success waves-effect waves-light" %><br><br>
<% end %>

<ul >
  <%= render(partial: 'comments/comment', collection: @article.comments) %>
</ul>
</div>
<script>
	setTimeout(function(){
    location.reload();
},60000);
</script>