<!DOCTYPE html>
<html>
  <head>
    <title>Magazine</title>
    <%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
	<link rel="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
	li li{
		margin-left: 5%;
	}
	ul li ul{
		display:none;
	}
	.butn{
		height: 30px;
		width:100px;
		padding-top: 7px;
		padding-left: 10px;
		background-color: #f4f6f9;
		border-radius:10px; 
	}
	.butn:hover{
		cursor: pointer;
	}
	textarea{
		width:40%;
		height:100px;
	}
  </style>

  <body>
  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Magazine</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to("Home", root_path) %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("New", :controller=>'articles', :action=>'new') %></li>
      
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
  <script>
  $( window ).load(function() {
    $('#new_comment').after('<div class="butn">Load More..</div>');
    $('.butn').click(function() { $('ul').css('display', 'block'); });
});

  </script>
</html>
